
h1{
    background: lightgray;
    color: darkslategray;
}
img{
    width: 300px;
}
h2 {
    background: lightgray;
}
a{
    color: darkslategrey;/a>
}
p{
    background: navajowhite;
    color: darkslategray;
}
ul{
    background: navajowhite;
    color: darkslategray;
}